/* hanken-grotesk-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hanken-grotesk-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hanken-grotesk-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/gelasio-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/gelasio-v12-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/gelasio-v12-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/gelasio-v12-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  

:root {
    --body-main-font-size: 112.5%;
    --body-main-font: 'Gelasio', Georgia, serif;
    --body-heading-font: 'Hanken Grotesk', sans-serif;
    --body-heading-font-weight: 700;
    --body-font-weight: 400;
    --body-heading2-size: 1.75rem;
    --body-selection-background-color: rgba(211, 24, 24, 0.75);
    --body-link-color: #df2020;
    --body-main-color: #f7f7f7;
    --body-heading-color: #f7f7f7;
    --body-heading-letter-spacing: .05rem;
    --body-heading-line-height: 1.4;
    --body-background-color: #011936;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100svh;
    background: var(--body-background-color);
    color: var(--body-main-color);
    font-family: var(--body-main-font);
    font-size: var(--body-main-font-size);
    line-height: 1.5;
}

p {
    margin: 0;
    text-indent: 2.5rem;
}

section p:first-of-type {
    text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--body-heading-font-weight);
    font-family: var(--body-heading-font);
    line-height: var(--body-heading-line-height);
    letter-spacing: var(--body-heading-letter-spacing);
    text-transform: uppercase;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.15;
}

h2 {
    font-size: 1.75rem;
}

.tagline {
    font-family: var(--body-heading-font);
    margin: 0;
}

.has-tagline > h1 {
    margin-top: 0;
}

.header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.wrapper {
    padding: 20px;
}

.accordion {
    font-family: var(--body-heading-font);
    font-size: var(--body-main-font-size);
    font-weight: var(--body-heading-font-weight);
    letter-spacing: var(--body-heading-letter-spacing);
    background-color: var(--body-main-color);
    color: var(--body-background-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 1.5rem;
    padding: .75rem 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    position: relative;
}

.active, .accordion:hover {
    text-decoration: underline;
}

.accordion-activity {
    display: block;
    position: absolute;
    right: 20px;
    top: .75rem;
}

.panel {
    overflow: hidden;
    display: none;
    padding: 20px;
    background: var(--body-main-color);
    color: var(--body-background-color);
    box-shadow: rgba(222, 228, 240, 0.25) 0px 1px 1px, rgba(222, 228, 240, 0.13) 0px 0px 1px 1px;
}

.content {
    margin-top: 3rem;
    color: var(--body-background-color);
    background-color: var(--body-main-color);
    padding: .75rem 20px;
}

.content p {
    text-indent: 0;
    margin-bottom: 1rem;
}

.content h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: none;
}

.content button {
    font-family: var(--body-heading-font);
    font-size: 1rem;
    font-weight: var(--body-heading-font-weight);
    background-color: var(--body-main-color);
    color: var(--body-background-color);
    cursor: pointer;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 1rem;
    padding: .75rem 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    position: relative;
}

.info {
    width: 1rem;
    height: 1rem;
}

.content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content div p {
    display: flex;
    flex-direction: row;
    gap: 20px;
}