/* hanken-grotesk-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hanken-grotesk-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* hanken-grotesk-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/hanken-grotesk-v8-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/gelasio-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/gelasio-v12-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/gelasio-v12-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* gelasio-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gelasio';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/gelasio-v12-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  

:root {
    --r-main-font-size: 112.5%;
    --r-main-font: 'Gelasio', Georgia, serif;
    --r-heading-font: 'Hanken Grotesk', sans-serif;
    --r-heading-font-weight: 700;
    --r-font-weight: 400;
    --r-heading2-size: 1.75rem;
    --r-selection-background-color: rgba(211, 24, 24, 0.75);
    --r-link-color: #df2020;
    --r-main-color: #f7f7f7;
    --r-heading-color: #f7f7f7;
    --r-heading-letter-spacing: .05rem;
    --r-heading-line-height: 1.4;
    --r-background-color: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: left;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
    color: #3a3a3a;
}

.reveal p {
    line-height: 1.35;
}

.slides {
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 100%;
    max-width: 100%;
    */
}

.reveal .slides > section {
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.95);
}

.reveal .slides > section:not(:has(section)) {
    padding: 20px 40px 120px 40px;
    bottom: 0;
}

.reveal .slides > section > section {
    padding: 20px 40px 120px 40px;
    bottom: 0;
}

.reveal ul {
    display: block;
}

.reveal blockquote {
    width: 100%;
    padding: 35px;
    background: transparent;
    box-shadow: none;
}

.reveal::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.85));
    opacity: 1;
    z-index: 1;
}

/*.slides > p, h2 {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.slides section > p, h2 {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}*/

.backgrounds .slide-background.present.gradient-bg-transition .slide-background-content::before {
    animation: bg-opacity 1s forwards;
}

@keyframes bg-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.reveal .slides > section p {
    margin: 0;
    text-indent: 2.5rem;
}


.reveal .slides > section p:first-of-type {
    text-indent: 0;
}

.reveal .slides > section > .stack-intro {
    padding: 20px 20px 120px;
}

.stack-intro h1 {
    line-height: 1;
    writing-mode: vertical-lr;
}

@media only screen and (min-width: 1024px) {
    :root {
        --r-main-font-size: 150%;
        --r-heading2-size: 2.5rem;
    }
    
    .reveal .slides > section:not(:has(section)) {
        padding: 80px 40% 80px 100px;
    }

    .reveal .slides > section > section {
        padding: 80px 40% 80px 100px;
    }
    
    #reader-btn-container {
        display: none;
    }
}

#reader-btn-container {
    position: absolute;
    bottom: 36px;
    left: 20px;
    z-index: 9000;
    transition: .5s ease-in-out;
}

.move-to-center {
    left: 50% !important;
    margin-left: -24px;
}

#reader-btn {
    width: 48px;
    height: 48px;
    border: 0;
    background: #f7f7f7;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#reader video {
    height: 100svh;
}